package templates

import (
	"example/evewebapp/internal/store"
)

templ Home(user *store.User) {
	@base("Home", user) {
		<p>Welcome!</p>
	}
}

templ Location(user *store.User, location, ship string) {
	@base("Medals", user) {
		if user != nil{
			<p><b>{ user.Name }</b> is flying a <b>{ ship }</b> in <b>{ location }</b>.</p>
		}
	}
}
